#{{ ansible_managed }}

account default

host {{ msmtp_host }}
port {{ msmtp_port }}
maildomain {{ msmtp_maildomain }}
from {{ msmtp_from }}
auth on
user {{ msmtp_user }}
password {{ msmtp_pass }}
tls on
{% if msmtp_starttls %}
tls_starttls on
{% else %}
tls_starttls off
{% endif %}
aliases /etc/aliases
